.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #ddd;
}

.logo {
    position: absolute; /* Positions the logo absolutely within the header */
    top: 10px; /* Distance from the top of the header */
    left: 85px; /* Distance from the left of the header */
    width: 100px; /* Adjust size as needed */
    height: auto;
}


.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}


.header-right a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.btn-account, .btn-donate {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
