/* Sidebar-specific styles */
.sidebar-container {
    width: 0;
    transition: width 0.3s;
    background-color: #111;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidebar-container.open {
    width: 250px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: color 0.3s;
}

.sidenav a:hover {
    color: red;
}

/* Hide sidebar on desktop */
@media (min-width: 768px) {
    .sidebar-container {
        display: none;
    }
}

/* Toggle button for mobile sidebar */
.toggle-btn {
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 10px;
    color: #111;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
}

/* Close button in sidebar */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: white;
}
